jobs:

  build_and_test:                # Job 1

    name: Build and Test Node.js Web App

    runs-on: ubuntu-latest

    steps:

      - uses: actions/checkout@v4

      - name: Set up Node.js

        uses: actions/setup-node@v3

        with:

          node-version: '20.x'

      - name: Install dependencies

        run: npm ci

      - name: Run tests

        run: npm test || echo "No tests found"



  build_and_publish_docker:     # Job 2

    name: Build and Publish Docker Image

    runs-on: ubuntu-latest

    needs: build_and_test       # after Job 1 succeeds

    steps:

      - uses: actions/checkout@v4

      - name: Log in to Docker Hub

        uses: docker/login-action@v3

        with:

          username: ${{ secrets.DOCKERHUBUSERNAME }}

          password: ${{ secrets.DOCKERHUBPASSWORD }}

      - name: Build and push to Docker Hub

        uses: docker/build-push-action@v5

        with:

          context: .

          push: true

          tags: blvnkvers3/node_project:latest
